body {
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background: black;
    color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Make header take full viewport height */
    position: relative; /* Lock the header to the top of the page */
    top: 0; /* Ensure the header is at the top */
    left: 0; /* Ensure the header is at the left edge */
 
}
header video {
    height: 60vh; /* Maintain the aspect ratio */
    width: 100%;
    max-height: 2000px;
    min-width: 1000px; /* Set minimum width */
    min-height: 300px; /* Set minimum height */
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text */
    margin-top: 6vh; /* Ensure main content starts after the header */
    z-index: 1; /* Ensure main content is below the header */
}

main h2 {
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    font-size: 2em;
}

.additional-header {
    background-color: #000000; /* Set background color for the additional header */
    color: white; /* Set text color for the additional header */
    padding: 10px 0; /* Add padding to the additional header */
    text-align: center; /* Center the text */
    font-size: 1em; /* Adjust font size */
    width: 100%;
    z-index: 2; /* Ensure the additional header is below the main header */
    position: relative;
    bottom: 0;


    
}
.additional-header p {
    margin: 0;
    padding: 0 10px; /* Add padding to the left and right */
    letter-spacing: 0.1em; /* Adjust letter spacing */
    word-spacing: 2em; /* Adjust word spacing */
}
.background-container {
    position: relative;
    width: 100%;
    height: auto;
    min-width: 1000px; /* Set minimum width */
    min-height: 800px; /* Set minimum height */
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.background-container img {
    width: auto;
    height: 100vh;
    background-size: 100%; /* Zoom in the background image */
}


.form-container {
    position: absolute;
    top: 48%; /* Move the container down */
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
    width: 60%; /* Adjust width */
    height: 75%; /* Adjust height */
    overflow: hidden; /* Hide overflow content */
   
}
.bottom-box {
    background-color: #455d7ada; /* Set background color for the box */
    padding: 20px;
    text-align: center; /* Center the content */
    position: relative; /* Fix the box to the bottom */
    bottom: 0; /* Position the box at the bottom */
    left: 0; /* Ensure the box is at the left edge */
    z-index: 5; /* Ensure the box is above other content */
}

.bottom-box img {
    max-width: 35%; /* Ensure the image does not overflow the box */
    height: auto; /* Maintain the aspect ratio */
}
.bottom-box p {
    color: rgb(209, 219, 243); /* Set text color */
    margin-top: 7px; /* Add margin to create space above the text */
}

.bottom-box a {
    color: rgb(209, 219, 243); /* Set link color */
    text-decoration: none; /* Remove underline from link */
    font-size: 1em;
}

.bottom-box a:hover {
    text-decoration: underline; /* Add underline on hover */
}
.form-container iframe {
    width: 60%; /* Make iframe take the full width of the container */
    height: 100%; /* Make iframe take the full height of the container */
}
footer{
    background-color: #000000; /* Set background color for the footer */
    color: white; /* Set text color for the footer */
    text-align: center; /* Center the text */
    padding: 10px 0; /* Add padding to the footer */
    margin-top: 10vh; /* Ensure main content starts after the header */
}


/* Media Queries for Mobile Devices */
@media (max-width: 768px) and (max-width: 991px){
    header {
        height: auto; /* Adjust header height for mobile */
    }

    header video {
        min-width: 100%; /* Ensure the video takes the full width on mobile */
        min-height: auto; /* Adjust minimum height for mobile */
    }

    .additional-header {
        font-size: 0.8em; /* Adjust font size for mobile */
    }

    main {
        margin-top: 20vh; /* Adjust margin for mobile */
    }

    .background-container {
        min-width: 100%; /* Adjust minimum width for mobile */
        min-height: auto; /* Adjust minimum height for mobile */
        margin-top: 10px; /* Adjust margin for mobile */
    }

    .form-container {
        width: 80%; /* Adjust width for mobile */
        height: auto; /* Adjust height for mobile */
        top: 60%; /* Adjust top position for mobile */
    }

    .form-container iframe {
        height: 300px; /* Adjust iframe height for mobile */
    }

    .bottom-box img {
        max-width: 80%; /* Adjust image size for mobile */
    }

    .bottom-box p {
        font-size: 1em; /* Adjust font size for mobile */
    }

    .bottom-box a {
        font-size: 1em; /* Adjust link font size for mobile */
        
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    header {
        height: auto; /* Adjust header height for mobile */
    }

    header video {
        min-width: 100%; /* Ensure the video takes the full width on mobile */
        min-height: auto; /* Adjust minimum height for mobile */
    }

    .additional-header {
        font-size: 0.8em; /* Adjust font size for mobile */
    }

    main {
        margin-top: 20vh; /* Adjust margin for mobile */
    }

    .background-container {
        min-width: 100%; /* Adjust minimum width for mobile */
        min-height: auto; /* Adjust minimum height for mobile */
        margin-top: 10px; /* Adjust margin for mobile */
    }

    .form-container {
        width: 80%; /* Adjust width for mobile */
        height: auto; /* Adjust height for mobile */
        top: 60%; /* Adjust top position for mobile */
    }

    .form-container iframe {
        height: 300px; /* Adjust iframe height for mobile */
    }

    .bottom-box img {
        max-width: 80%; /* Adjust image size for mobile */
    }

    .bottom-box p {
        font-size: 1em; /* Adjust font size for mobile */
    }

    .bottom-box a {
        font-size: 1em; /* Adjust link font size for mobile */
        
    }
}
@media screen and (min-width: 320px) and (max-width: 480px ) {
    header {
        height: auto; /* Adjust header height for mobile */
    }

    header video {
        min-width: 100%; /* Ensure the video takes the full width on mobile */
        min-height: auto; /* Adjust minimum height for mobile */
    }

    .additional-header {
        font-size: 0.8em; /* Adjust font size for mobile */
    }

    main {
        margin-top: 20vh; /* Adjust margin for mobile */
    }

    .background-container {
        min-width: 100%; /* Adjust minimum width for mobile */
        min-height: auto; /* Adjust minimum height for mobile */
        margin-top: 10px; /* Adjust margin for mobile */
    }

    .form-container {
        width: 80%; /* Adjust width for mobile */
        height: auto; /* Adjust height for mobile */
        top: 60%; /* Adjust top position for mobile */
    }

    .form-container iframe {
        height: 300px; /* Adjust iframe height for mobile */
    }

    .bottom-box img {
        max-width: 80%; /* Adjust image size for mobile */
    }

    .bottom-box p {
        font-size: 1em; /* Adjust font size for mobile */
    }

    .bottom-box a {
        font-size: 1em; /* Adjust link font size for mobile */
        
    }
}
